body {
    width: 960px;
    margin: 15px auto;
    font: normal 14px  Arial, Helvetica, sans-serif, "宋体";
}

/* body#article { */
/*     width: 60%; */
/*     margin: 15px auto; */
/*     font: normal 14px  Arial, Helvetica, sans-serif, "宋体"; */
/* } */

a {
    color: black;
}
a:hover {color: gray;}

p {
    margin: 0 0 20px 0;
}

p, li {
    line-height: 20px;
}

body header#page_header, footer#page_footer {
    float: left;
    width: 100%;
}

footer#page_footer {
    text-align:center;
    width: 100%;
}

header#page_header nav ul, footer#page_footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section#posts header ul, section#content header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section#posts header ul li, section#content footer ul li, section#page_header nav ul li {
    padding: 0;
    margin: 0 20px 0 0;
    display: inline;
}

header#page_header nav ul li, footer#page_footer nav ul li {
    padding: 0;
    margin: 0 20px 0 0;
    display: inline;
}

div#logo h1 {
    float: left;
}

div#logo p {
    float: left;
    padding-top: 25px;
    line-height: 35px;
    margin-left: 10px;
}

div#logo nav {
    float: left;
    width: 100%;
}

section#posts {
    margin-top: 30px;
    float: left;
    width: 74%;
}

section#content {
    margin-top: 30px;
    float: left;
    width: 74%;
}

section#read_guide {
    float: left;
    width: 20%;
}

li#previous_article {
    float: left;
    text-align: right;
    width: 40%;
}

/*li#next_article {
    float: right;
    text-align: left;
    width: 50%;
}*/

li#go_home {
    float: left;
    text-align: center;
}

section#posts aside, section#content aside {
    float: right;
    width: 35%;
    /* margin-left: 5%; */
    font-size: 20px;
    line-height: 40px;
}

section#sidebar {
    margin-top: 30px;
    float: right;
    width: 20%;
}

section#sidebar ul li ul{
    margin-left: -20px;
}

section#sidebar ul li a{
    line-height: 25px;
    text-decoration: blink;
}

section#content {
    margin-top: 30px;
}

footer#page_footer {
    margin-top: 20px;
}

article.comment {
    margin-bottom: 30px;
}
section#comments {
    margin-top: 40px;
}

p.commenter {
    color: gray;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: right;
}

fieldset ol {
    list-style: none;
    padding: 0;
    margin: 20px;
}

fieldset ol li {
    margin: 0 0 9px 0;
    padding: 0;
}
fieldset input, fieldset textarea{
    display: block;
}

ol#update_select li{
    display: inline;
}

ol#update_select input, ol#update_select select, ol#update_new input {
    display: inline;
    margin-right: 20px;
}
