{% extends frame.html %}

{% block signin%}
    {% raw signin %}
{% end %}

{% block articles_content %}
<section id = "content">
    <header>
    </header>
    <article class="post">
        <header>
            <h2>{% raw article["title"] %}</h2>
            <p>
                {% if article.has_key("updated_date") %}
                Updated by {% raw article["author"] %} on
                <time>{{ article["updated_date"] }}</time>
                {% else %}
                Posted by {% raw article["author"] %} on
                <time>{% raw article["posted_date"] %}</time>
                {% end %}
            </p>
        </header>
        {% raw article["content"] %}
        <footer>
            <nav>
                <ul>
                    {% if article.has_key("previous") %}
                    <li><a href="{% raw article["previous"]["href"] %}"> &lt&lt {%raw article["previous"]["title"] %} </a></li>
                    {% end %}
                    <li><a href="contributors">首页</a></li>
                    {% if article.has_key("next") %}
                    <li><a href="{% raw article["next"]["href"] %}"> {% raw article["next"]["title"] %} &gt&gt </a></li>
                    {% end %}
                </ul>
            </nav>
            <section id="comments">
                <h3>留言</h3>
                {% if article.has_key("comments") %}
                {% for comment in article["comments"] %}
                    {% module comment(comment) %}
                {% end %}
                {% end %}
            </section>
            <section id="do_comments">
                <h3>发表留言</h3>
                <form action="TODO" method="post">
                    <fieldset id="commenter_info">
                        <legend>评论 </legend>
                        <ol>
                            <li>
                                <label for="name">姓名：</label>
                                <input id="commenter_name" type="text" name="name" autofocus="">
                            </li>
                            <li>
                                <label for="email">email：</label>
                                <input id="commenter_name" type="text" name="email" autofocus="">
                            </li>
                            <li>
                                <label for="verify">请输入8：</label>
                                <input id="commenter_verify" type="text" name="verify" autofocus="">
                            </li>
                            <li>
                                <label for="comment">姓名:</label>
                                <input id="commenter_comment" type="text" name="comment" autofocus="">
                            </li>
                            <li><input type="submit" value="Submit"></li>
                        </ol>
                    </fieldset>
                </form>
            </section>
        </footer>
    </article>
</section>
{% end %}
