{% extends frame.html %}

{% block signin%}
    {% raw signin %}
{% end %}

{% block content %}
<section id = "content">
    <header>
    </header>
    <article class="post">
        <header>
            <h2>{% raw article["title"] %}</h2>
            <p>
                {% if article.has_key("updated_date") %}
                Updated by {% raw article["author"] %} on
                <time>{{ article["updated_date"].strftime("%Y-%m-%d %H:%M") }}</time>
                {% else %}
                Posted by {% raw article["author"] %} on
                <time>{% raw article["posted_date"].strftime("%Y-%m-%d %H:%M") %}</time>
                {% end %}
            </p>
        </header>

        {% raw article["content"] %}

        <footer>
            <nav>
                <ul>
                    <li id = "previous_article">&lt&lt{% if previous_article %} <a href="/article/{{ url_escape(previous_article["href"]) }}">{%raw previous_article["title"] %} </a>{% end %}</li>
                    <li id = "go_home"><a href="/">Home</a></li>
                    <li id = "next_article"> {% if next_article %}<a href="/article/{{ url_escape(next_article["href"]) }}"> {% raw next_article["title"] %}&gt&gt</a>{% else %}<a >&gt&gt<a/> {% end %}</li>
                </ul>
            </nav>

            {% if current_user %}
            <p> <a href="/update?article_href={% raw article["href"] %}"> <i> Edit</i></a> </p>
            {% end %}
        </footer>
    </article>

    <section id="comments">
        {% if article.has_key("comment") %}
        {% set article["comment"] = article["comment"][::-1] %}
        {% set floor = len(article["comment"]) %}
        <h3>留言</h3>
        {% for comment in article["comment"] %}
        {% module comment(comment, floor) %}
        {% set floor = floor - 1 %}
        {% end %}
        {% end %}
    </section>

    <section>
        <h3>发表留言</h3>
        <form action="/comment" method="post" id = "comment_form">
            {% raw xsrf_form_html() %}
            <input type="hidden" name="article_href" value = {% raw article["href"] %}>

            <fieldset>
                <legend>评论 </legend>
                <ol>
                    <li>
                        <label for="comment_name">姓名：</label>
                        <input type="text" name="comment_name" required = "required">
                    </li>
                    <li>
                        <label for="comment_email">email：</label>
                        <input type="email" name="comment_email" placeholder="me@example.com" required = "required">
                    </li>
                    <li>
                        <label for="comment_verify">验证码（请输入8）：</label>
                        <input id = "comment_verify" type="text" name="comment_verify" placeholder="请输入8" autocomplete = "off" required = "required">
                    </li>
                    <li>
                        <label for="comment_content">输入评论:</label>
                        <textarea name="comment_content" cols=40 rows=8 required = "required"></textarea>
                    </li>
                    <li><input type="submit" value="submit" id = "comment_submit"></li>
                </ol>
            </fieldset>
        </form>
    </section>
</section>
{% end %}
