<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css" type = "text/css">
        <script src="/static/funny.js" type="text/javascript" charset="utf-8"></script>
        <title>Woodenhouse's Blog</title>
    </head>
    <body id = "index">
        <header id="page_header">
            <div id = "logo">
                <h1>WoodhouseSo Blog!</h1>
                <p>{% block signin %} 天街小雨润如酥，草色遥看近却无 {% end %}</p>
                <nav>
                    <ul>
                        <li><a href="/">最近发表</a></li>
                        <li><a href="/me">个人简历</a></li>
                        <li><a href="/feed">订阅</a></li>
                        {% if current_user %}
                        <li><a href="/update">新文章</a></li>
                        <li><a href="/auth/logout?next={{ url_escape(request.uri) }}">退出登陆</a></li>
                        {% end %}
                    </ul>
                </nav>
            </div>
        </header>
        {% block sidebar %}
        <section id="sidebar">
            <nav>
                <h3>Categories</h3>
                <ul>
                    {% for k in sidebar["category"] %}
                    <li>
                        <a href= "/category/{% raw sidebar["category"][k]["name"] %}">
                            {% raw sidebar["category"][k]["name"] %}
                            {% if sidebar["category"][k].has_key("article") %}
                            ({% raw len(sidebar["category"][k]["article"]) %})
                            {% end %}
                        </a>
                        {% if sidebar["category"][k].has_key("sub") %}
                        <ul>
                            {% for sk in sidebar["category"][k]["sub"] %}
                            <li>
                                <a href= "/category/{% raw sidebar["category"][k]["name"] %}/{% raw sidebar["subcategory"][sk]["name"] %}">
                                    {% raw sidebar["subcategory"][sk]["name"] %}
                                    {% if sidebar["subcategory"][sk].has_key("article") %}
                                    ({% raw len(sidebar["subcategory"][sk]["article"]) %})
                                    {% end %}
                                </a>
                            </li>
                            {% end %}
                        </ul>
                        {% end %}
                    </li>
                    {% end %}
                </ul>
            </nav>
            <nav>
                <h3>Archives</h3>
                <ul>
                    {% for k in sidebar["archive"] %}
                    <li>
                        <a href= "/archive/{% raw sidebar["archive"][k]["year"] %}{% raw sidebar["archive"][k]["month"] %}">
                            {% if sidebar["archive"][k]["month"] < 10 %}
                            {% raw sidebar["archive"][k]["year"] %}/0{% raw sidebar["archive"][k]["month"] %}
                            {% else %}
                            {% raw sidebar["archive"][k]["year"] %}/{% raw sidebar["archive"][k]["month"] %}
                            {% end %}
                        </a>
                    </li>
                    {% end %}
                </ul>
            </nav>
        </section>
        {% end %}

        {% block content %} {% end %}

        <footer id="page_footer">
            <p>&copy; 2010 AwesomeCo.</p>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/me" data-width="400" data-height="500" class = 'popup'>About</a></li>
                    <li><a href="/feed">Feed</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
